.Main {
  width: calc(100% - 135px);
  height: 100vh;
  margin-left: 135px;
  background-color: #444;
  transition: margin 0.5s ease-in-out 0s;
}
.App[data-homepage="true"] .Main {
  width: 100%;
  margin-left: 0px;
}
.App[data-sidebar-open="true"] .Main {
  margin-left: 400px !important;
}
