.PrimaryInformation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 200px;
  background-color: #e5e5e5;
}

.PrimaryInformation__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 640px;
  height: 100%;
  background-color: #e5e5e5;
  transition: background 0.25s ease-in-out 0s;
}
.PrimaryInformation__item:not(:first-child) {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}
.PrimaryInformation__item:hover {
  background-color: #fff;
}
.PrimaryInformation__item__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10px;
}
.PrimaryInformation__icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.75;
  margin-top: -20px;
  filter: invert(1.0);
}
.PrimaryInformation__icon--location {
  background-image: url("./images/placeholder.png");
}
.PrimaryInformation__icon--timing {
  background-image: url("./images/clock.png");
}
.PrimaryInformation__icon--prayerline {
  background-image: url("./images/phone.png");
}
.PrimaryInformation__text {
  font-family: 'Roboto', sans-serif;
}
.PrimaryInformation__label {
  color: #e92a2a;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px
}
.PrimaryInformation__value {
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 28px;
}
