.Navigation {

}
.Navigation__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 65px;
  padding: 0px 50px;
  cursor: pointer;
}
.App[data-sidebar-open="false"] .Navigation__item {
  left: -400px;
  opacity: 0;
  transition: left 0.25s ease-in-out 0.5s, opacity 0.25s ease-in-out 0.5s;
}
.App[data-sidebar-open="true"] .Navigation__item {
  left: 0px;
  opacity: 1.0;
}
.App[data-sidebar-open="true"] .Navigation__item:nth-child(1) {
  transition: left 0.25s ease-in-out 0.75s, opacity 0.5s ease-in-out 0.75s;
}
.App[data-sidebar-open="true"] .Navigation__item:nth-child(2) {
  transition: left 0.25s ease-in-out 0.85s, opacity 0.5s ease-in-out 0.85s;
}
.App[data-sidebar-open="true"] .Navigation__item:nth-child(3) {
  transition: left 0.25s ease-in-out 0.95s, opacity 0.5s ease-in-out 0.95s;
}
.App[data-sidebar-open="true"] .Navigation__item:nth-child(4) {
  transition: left 0.25s ease-in-out 1.05s, opacity 0.5s ease-in-out 1.05s;
}
.App[data-sidebar-open="true"] .Navigation__item:nth-child(5) {
  transition: left 0.25s ease-in-out 1.15s, opacity 0.5s ease-in-out 1.15s;
}
.App[data-sidebar-open="true"] .Navigation__item:nth-child(6) {
  transition: left 0.25s ease-in-out 1.25s, opacity 0.5s ease-in-out 1.25s;
}


.Navigation__item:not(:first-child) {
  border-top: 1px solid #fff;
}
.Navigation__item--active {
  background-color: rgba(38, 50, 56, 0.1);
}
.Navigation__item:not(.Navigation__item--active):hover {
  background-color: rgba(38, 50, 56, 0.075);
}

.Navigation__text {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-shadow: 0px 0px 0px #000;
  opacity: 0.75;
}
.Navigation__item:hover .Navigation__text {
  text-shadow: 0px 0px 0.25px #000;
}
.Navigation__item--active .Navigation__text {
  font-weight: 400;
  text-shadow: 0px 0px 0.25px #000;
}

.Navigation__icon {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
}
.Navigation__item[data-type="home"] .Navigation__icon {
  background-image: url('./images/home-icon-black.png');
}
.Navigation__item[data-type="our_ministries"] .Navigation__icon {
  background-image: url('./images/ministries-icon-black.png');
}
.Navigation__item[data-type="sermons"] .Navigation__icon {
  background-image: url('./images/sermons-icon-black.png');
}
.Navigation__item[data-type="about"] .Navigation__icon {
  background-image: url('./images/about-icon-black.png');
}
.Navigation__item[data-type="contact"] .Navigation__icon {
  background-image: url('./images/contact-icon-black.png');
}
